{% extends "base.html" %}
{% block title %}All Shoes{% endblock %}

{% block content %}
<h1 style="font-family: cursive">All Shoes</h1>

<a href="{% url 'products:createshoe' %}" class="btn btn-primary"style="font-family: cursive; font-size: 20px; text-decoration: none; color: green">Create New Shoe</a>

{% if shoes %}
<ul>
    {% for shoe in shoes %}
    <li>
        <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" style="width: 200px; height: 200px;"><br>
        <a href="{% url 'products:shoe_detail' shoe.pk %}"style="font-family: cursive; font-size: 20px; text-decoration: none; color: green">{{ shoe.name }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No shoes available.</p>
{% endif %}

{% endblock %}
